<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update User</title>
</head>
<body>

	<h2>Update</h2>
	<form action="#" th:action="@{/users/update}" th:object="${userToUpdate}"
		method="post">
		<input type="hidden" th:field="*{idUser}" />
		<p>
			Firstname: <input type="text" th:field="*{firstname}" />
		</p>
		<p>
			Lastname: <input type="text" th:field="*{lastname}" />
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>