

.background {
	background: #bb978a7a;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffc10754, #bb978a7a);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffc10754, #bb978a7a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.serif {
	font-family: 'Inter', sans-serif;
}



.carousel-item {
	border:2px solid #5d433f;
}

.titlu {
	padding-top: 50px; 
	padding-bottom: 40px;
	font-family: 'Dancing Script', cursive; 
	color: #774c3c;
	font-size: 4rem;
}

.titlu2{
	padding-top: 50px; 
	padding-bottom: 40px;
	font-family: 'Dancing Script', cursive; 
	color: #795548cc;
	font-size: 2.5rem;
}

.titlu3{
	padding-top: 30px; 
	padding-bottom: 50px;
	margin-bottom: 5%;
	font-family: 'Dancing Script', cursive; 
	color: #795548cc;
	font-size: 2rem;
}



.row-item {
	padding: 30px;
	padding-bottom: 10px;
}

.dark-border {
	border:2px solid #bb806b8f;	
}

ul{
	
	list-style-type: none;
	background-color: white;
	color: #6f5045bf;
}



li a:hover {
	background-color: #c59d256e;
	text-decoration: none;
	color:#001f72;
}


li a {

	padding: 30px;
	text-decoration: none;
	color: #795548d4;
	font-family: 'Inter', sans-serif;

}

.img-shadow img{
	box-shadow: 5px 3.5px #7955487d;
}

.no-padding{
	padding:0;
}



