<!DOCTYPE html>
<html>
<head>
	<title>Lindt</title>

	<link rel="icon" type="img\favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css\brand.css">

</head>
<form>
	<body>
	<iframe src="meniu.html" width="100%" style="border:none;height: 110px;"></iframe>

		<div class = "brand-header d-flex align-items-center justify-content-center">
			<h4>THE LINDT & SPRÜNGLI GROUP - CIOCOLATA PREMIUM DE 175 DE ANI</h4>

		</div>

		<div class="container">
			<h3 class=" my-5 text-style">ABOUT US</h3>
			<div class="row">
				<div class="col-8"><p class="text-justify">
					Lindt & Sprüngli este recunoscută ca lider pe piața ciocolatei de calitate premium, oferind o gamă largă de produse în peste 120 de țări din întreaga lume. De-a lungul a aproape 175 de ani de existență a Lindt & Sprüngli, a devenit cunoscută ca una dintre cele mai inovatoare și creative companii care produc ciocolată premium.
					<br>
					<br>
					Începuturile companiei Lindt & Sprüngli au fost în 1845, când tatăl și fiul au fabricat pentru prima dată ciocolată solida în cofetăria lor mică Sprüngli & Son. De atunci, compania a trecut prin multe epoci diferite, dar spiritul antreprenorial și pasiunea pentru fabricarea ciocolatei au condus atât familia Sprüngli, cât și Rodolphe Lindt, când a inventat prima ciocolată cu adevărat topită și mai târziu și-a vândut afacerea către Sprüngli, sunt încă în viață.
					<br>
					<br>
				Astăzi, produsele de ciocolată de calitate de la Lindt & Sprüngli sunt fabricate în 12 fabrici proprii din Europa și SUA. Acestea sunt distribuite de 25 de companii filiale și sucursale, în peste 410 magazine proprii și, de asemenea, printr-o rețea cuprinzătoare de peste 100 de distribuitori independenți din întreaga lume. Cu peste 14.000 de angajați, Grupul Lindt & Sprüngli a raportat vânzări în valoare de 4,1 miliarde CHF în 2017.</p>
				<img class="mb-2" src="img\img16.jpg" width="100%" style="border: solid #865e52e0 2px;">
			</div>
			<div class="col-4">
				<img style="width: inherit"src="img\favicon.png ">
			</div>


		</div>
	</div>




	<div class="container my-5">

		<h4 class="my-5"> Sortimentele noastre de ciocolata</h4>

		<div class="row mt-3">
			<div class="col text-center">
				LINDOR
			</div>
			<div class="col text-center">
				Praline de ciocolata asortate Lindor, 350gr
			</div>

			<div class="col text-center" >
				Gold Bunny
			</div>
		</div>
		

		<div class="row">
			<div class="col">
				<img src="img\img17.jpg" width="100%" style="border: solid #3e2d28e0 2px;">
			</div>
			<div class="col">
				<img src="img\img18.jpg" width="100%" style="border: solid #3e2d28e0 2px;">
			</div>

			<div class="col">
				<img src="img\img19.jpg" width="100%" style="border: solid #3e2d28e0 2px;">
			</div>
			
		</div>
		

		<div class="row mt-3">

			<div class="col text-center">
				TEDDY BEAR
			</div>
			<div class="col text-center">
				Hello
			</div>
			<div class="col text-center">
				Creation
			</div>
		
		</div>
		

		<div class="row">
			<div class="col">
				<img src="img\img20.jpg" width="100%" style="border: solid #3e2d28e0 2px;">
			</div>
			<div class="col">
				<img src="img\img21.jpg" width="100%" style="border: solid #3e2d28e0 2px;">
			</div>
			<div class="col">
				<img src="img\img22.jpg" width="100%" style="border: solid #3e2d28e0 2px;">
			</div>
			
		</div>


		<h4 class="my-5"> Alte branduri</h4>

		<div class="row">
			<div class="col">
				<img src="img\img23.png" style="width: inherit;">

			</div>
			<div class="col">

				<img src="img\img24.png" style="width: inherit;">
			</div>
			<div class="col">
				<img src="img\img25.png" style="width: inherit;">

			</div>

			<div class="col">
				<img src="img\img26.png" style="width: inherit;">

			</div>

		</div>

		<div class="row">
			<div class="col">
				<img src="img\img27.png" style="width: inherit;">

			</div>
			<div class="col">

				<img src="img\img28.png" style="width: inherit;">
			</div>
			<div class="col">
				<img src="img\img29.png" style="width: inherit;">

			</div>

			<div class="col">


			</div>

		</div>



		<div class="video">


			<iframe style="border: solid #6554504f 3px;" width="560" height="315" src="https://www.youtube.com/embed/al-7KfqbFs8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
			</iframe>		
		</div>
		
	</body>
	</html>