<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css\home.css">

    <title>Ciocolată personalizată</title>

    <style>
		.background{
			background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

		}



    </style>
</head>

<body class="background">

<ul class="d-flex align-items-center">
    <li>
        <img src="img\logo.jpg">

    </li>
    <li>
        <a href="/">ACASĂ</a>
    </li>

    <li>
        <a href="brand">BRAND</a>
    </li>

    <li>
        <a href="produse">PRODUSE</a>
    </li>

    <li>
        <a href="formular_ciocolata_personalizata">PERSONALIZARE</a>
    </li>

    <li>
        <a href="formular_ciocolata">CAMPANII</a>
    </li>

    <li>
        <a href="contact">CONTACT</a>
    </li>
</ul>
<div class="container">

    <center>
        <h1 style="font-family: 'Parisienne', cursive; text-shadow: 2px 2px white; " class="mt-5">Ciocolată
            personalizată
            Lindt - <b>Holiday Season</b></h1>

        <img src="https://i.pinimg.com/originals/b9/7d/d5/b97dd5343f3021772769bcab3d0f98dd.png" width="500" height="500"
             style="margin-bottom: 5%; margin-top: 5%">
    </center>

    <center><h3>Creează un cadou personalizat</h3></center>
    <br>
    <br>
    <p style="text-align: justify;"> Ciocolata Lindt este păstrată în ambalajul original și este dispusă în interiorul
        unei cutii de tip husă care se personalizează în funcție de necesitățile dvs. Designul final al produsului este
        unul deosebit.
        În oferta noastră vei găsi produse din ciocolată care pot fi personalizate în cele mai creative moduri: ambalaje
        pe care poți pune o fotografie, cutii elegante din lemn pe care putem grava diferite mesaje sau printuri pe
        ciocolată și mesaje. Începe prin a crea propria ciocolată în configuratorul Secret Santa.
    </p>

    <form method="POST" action="/creazaCiocolata" class="mb-5">
        <div class="container m-5">

            <h4 class="text-center">Secret Santa</h4>

            <div class="row mt-5">
                <div class="col">
                    <p><b> 1.Selecteză sortimentul de ciocolată preferat *</b></p>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortiment" id="idExcellence"
                               value="raspuns_Excellence">
                        <label class="form-check-label" for="idExcellence">
                            Lindt Excellence
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortiment" id="idCreation"
                               value="raspuns_Creation">
                        <label class="form-check-label" for="idCreation">
                            Lindt Creation
                        </label>

                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortiment" id="idPraline"
                               value="raspuns_Praline">
                        <label class="form-check-label" for="idPraline">
                            Lindt Praline
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortiment" id="idClasic"
                               value="raspuns_Clasic">
                        <label class="form-check-label" for="idClasic">
                            Lindt Praline Clasic
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sortiment" id="idMiniPraline"
                               value="raspuns_Mini">
                        <label class="form-check-label" for="idMiniPraline">
                            Lindt Mini Praline
                        </label>
                    </div>

                </div>

                <div class="col">
                    <p><b>2.Selectează aroma preferată.</b></p>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idLapte" value="raspuns_lapte">
                        <label class="form-check-label" for="idLapte">
                            lapte
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idCacao" value="raspuns_Cacao">
                        <label class="form-check-label" for="idCacao">
                            cacao
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idAlune" value="raspuns_Alune">
                        <label class="form-check-label" for="idAlune">
                            alune
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idMigdale"
                               value="raspuns_Migdale">
                        <label class="form-check-label" for="idMigdale">
                            migdale
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idCafea" value="raspuns_Cafea">
                        <label class="form-check-label" for="idCafea">
                            cafea
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idCappucino"
                               value="raspuns_Capppucino">
                        <label class="form-check-label" for="idCappucino">
                            cappuccino
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idRom" value="raspuns_Rom">
                        <label class="form-check-label" for="idRom">
                            rom
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idMenta" value="raspuns_Menta">
                        <label class="form-check-label" for="idMenta">
                            mentă
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idScortisoara"
                               value="raspuns_Scortisoara">
                        <label class="form-check-label" for="idScortisoara">
                            scorțișoară
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idCaramel"
                               value="raspuns_Caramel">
                        <label class="form-check-label" for="idCaramel">
                            caramel
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="aroma" id="idChili" value="raspuns_Chili">
                        <label class="form-check-label" for="idChili">
                            chili
                        </label>
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <p><b>3.Alege modelul ambalajului.</b></p>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ambalajModel" id="idStandard"
                               value="raspuns_standard">
                        <label class="form-check-label" for="idStandard">
                            standard
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ambalajModel" id="idPungaMini"
                               value="raspuns_Mini">
                        <label class="form-check-label" for="IdPungaMini">
                            pungă personalizată 50 ml
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ambalajModel" id="IdPungaMed" value="
							raspuns_Med">
                        <label class="form-check-label" for="IdPungaMed">
                            pungă personalizată 70 ml
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ambalajModel" id="IdPungaMax"
                               value="raspuns_Max">
                        <label class="form-check-label" for="IdPungaMax">
                            pungă personalizată 100 ml
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ambalajModel" id="IdPachetMini"
                               value="raspuns_PachetMini">
                        <label class="form-check-label" for="IdPachetMini">
                            pachet cadou 0.5kg
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="ambalajModel" id="IdPachetMax"
                               value="raspuns_PachetMax">
                        <label class="form-check-label" for="IdPachetMax">
                            pachet cadou 1kg
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="cutieCapac" id="IdCapacTransparent"
                               value="raspuns_CapacTransparent">
                        <label class="form-check-label" for="IdCapacTransparent">
                            cutie cu capac transparent 1kg
                        </label>
                    </div>

                </div>

                <div class="col">

                    <p><b>4.Alege culoarea ambalajului</b></p>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj" id="idCuloareAmbalajRosu"
                               value="raspuns_Rosu">
                        <label class="form-check-label" for="idCuloareAmbalajRosu">
                            roșu
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj" id="idCuloareAmbalajAuriu"
                               value="raspuns_Auriu">
                        <label class="form-check-label" for="idCuloareAmbalajAuriu">
                            auriu
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj"
                               id="idCuloareAmbalajArgintiu1" value="raspuns_Argintiu">
                        <label class="form-check-label" for="idCuloareAmbalajArgintiu1">
                            argintiu
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj" id="idCuloareAmbalajViolet"
                               value="raspuns_Violet">
                        <label class="form-check-label" for="idCuloareAmbalajViolet">
                            violet
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj" id="idCuloareAmbalajFuchsia"
                               value="raspuns_Fuchsia">
                        <label class="form-check-label" for="idCuloareAmbalajFuchsia">
                            fuchsia
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj" id="idCuloareAmbalajMaro"
                               value="raspuns_Maro">
                        <label class="form-check-label" for="idCuloareAmbalajMaro">
                            maro
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj" id="idCuloareAmbalajAlb"
                               value="raspuns_Alb">
                        <label class="form-check-label" for="idCuloareAmbalajAlb">
                            alb
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareAmbalaj" id="IdCuloareAmbalajDegrade"
                               value="raspuns_Degrade">
                        <label class="form-check-label" for="IdCuloareAmbalajDegrade">
                            degrade
                        </label>
                    </div>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <p><b>5.Vă rugăm să selectați culoarea pe care doriți să o imprimați pe ambalaj.</b></p>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareImprimata" id="IdImprimareAuriuMat"
                               value="raspuns_ImprimareAuriuMat">
                        <label class="form-check-label" for="IdImprimareAuriuMat">
                            auriu mat
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareImprimata"
                               id="IdImprimareAuriuMetalic" value="raspuns_ImprimareAuriuMetalic">
                        <label class="form-check-label" for="IdImprimareAuriuMetalic">
                            auriu metalic
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareImprimata" id="IdStelute"
                               value="raspuns_ImprimareStelute">
                        <label class="form-check-label" for="IdStelute">
                            steluțe argintii
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareImprimata" id="IdArgintiuMat"
                               value="raspuns_ImprimareArgintiuMat">
                        <label class="form-check-label" for="IdArgintiuMat">
                            argintiu mat
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareImprimata" id="IdArgintiuMetalic"
                               value="raspuns_ImprimareArgintiuMetalic">
                        <label class="form-check-label" for="IdArgintiuMetalic">
                            argintiu metalic
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareImprimata" id="IdMagneta"
                               value="raspuns_ImprimareMagneta">
                        <label class="form-check-label" for="IdMagneta">
                            magneta
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="culoareImprimata" id="IdCuloareImprimata"
                               value="raspuns_ImprimareViolet">
                        <label class="form-check-label" for="IdCuloareImprimata">
                            violet
                        </label>
                    </div>

                </div>
                <div class="col">

                    <p><b>6.Dacă doriți puteți alege și un accesoriu extra</b></p>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="accesoriu" id="IdPanglicaEcru"
                               value="raspuns_Ecru">
                        <label class="form-check-label" for="IdPanglicaEcru">
                            panglică ecru
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="accesoriu" id="IdFolieAurie"
                               value="raspuns_FolieAurie">
                        <label class="form-check-label" for="IdFolieAurie">
                            folie ciocolată aurie
                        </label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="accesoriu" id="IdFundaRosie"
                               value="raspuns_FundaRosie">
                        <label class="form-check-label" for="IdFundaRosie">
                            panglică fundă roșie
                        </label>
                    </div>

                </div>
            </div>

        </div>


        <center>
            <button type="submit" class="btn btn-outline-secondary">Plasează comanda</button>
        </center>

    </form>

</div>


</body>
</html>