<!DOCTYPE html>
<html>
<head>
	
	<title>Lindt</title>
	<link rel="icon" type="img\favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css\produse.css">

</head>

<body class="background" >
		<iframe src="meniu.html" width="100%" style="border:none;height: 110px;"></iframe>

	<h3 class="text-center m-5 text-style">SORTIMENTE</h3>
	<div class="container bg-white">
		
		<div class="row pt-5">
			<div class="col">
				Lindor Caramel 200g
			</div>
			<div class="col">
				Lindor Rosu 200g
				
			</div>
			<div class="col">
				Lindor Asortat 200g
				
			</div>
			<div class="col">
				Lindor Extra Dark 200g
			</div>
		</div>


		<div class="row pb-5">
			<div class="col">
				<img src="img\img44.jpg" style="width: inherit;">	
			</div>

			<div class="col">
				
				<img src="img\img45.png" style="width: inherit;">
			</div>
			
			<div class="col">
				
				<img src="img\img46.png" style="width: inherit;">
			</div>

			<div class="col">
				<img src="img\img47.png" style="width: inherit;">

			</div>

		</div>

		<div class="row pt-5">
			<div class="col">
				Lindor Asortat 100g
			</div>
			<div class="col">
				Lindor Extra Dark Bag 100g
			
			</div>
			<div class="col">
				Lindor Milk 100g
			</div>
			<div class="col">
				Lindor Asortat 400g
			</div>
		</div>


		<div class="row pb-5">
			<div class="col">
				<img src="img\img48.jpg" style="width: inherit;">	
			</div>

			<div class="col">
					<img src="img\img49.jpg" style="width: inherit;">
				
			</div>
			<div class="col">
				<img src="img\img50.jpg" style="width: inherit;">

			</div>

			<div class="col">
					<img src="img\img51.jpg" style="width:80%; margin-top: 15%;">

			</div>

		</div>



		<div class="row pt-5">
			<div class="col">
				Lindt – Praline Connaisseur, 180gr
			</div>
			<div class="col">
				
				Praline Prestige Selection, 150 gr	
			
			</div>
			<div class="col">
				Lindt-Urs Ciocolata, 50gr
			</div>
			<div class="col">
				Lindt- Urs Ciocolata, 100gr
			</div>
		</div>


		<div class="row pb-5">
			<div class="col">
				<img src="img\img34.png" style="width: inherit;">	
			</div>

			<div class="col">
					<img src="img\img33.png" style="width: inherit;">
				
			</div>
			<div class="col">
				<img src="img\img56.png" style="width: inherit;">

			</div>

			<div class="col">
				<img src="img\img37.png" style="width: 90%;">

			</div>

		</div>



	</div>

	</body>

	</html>